<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vn.hdu.go2jp.hduchat">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".application.App"
        android:allowBackup="true"
        android:icon="@drawable/paidcall_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver
            android:name=".widget.NotificationBroadcastReceiver"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".base.BaseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ChatBoxActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.ProfileActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".services.ChatService"
            android:exported="false"
            android:persistent="true" />

        <activity android:name=".activity.CreateRoomActivity" />
        <activity android:name=".activity.ScannerActivity" />
        <activity android:name=".activity.MyQrActivity"></activity>
    </application>

</manifest>